<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	
	<!-- VERY IMPORTATNT! -->
   <extension
         id="modelContribution"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="View-Fragment.e4xmi">
      </fragment>
   </extension>

</plugin>
